@import "src/assets/styles/_vars.scss";



.location-box {
  position: relative;
  border-radius: 12px;
  text-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 12px;
  }
  img {
    width: 100%;
    max-height: max(10rem, 40vh);
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: cover;
  }
  .text {
    position: absolute;
    top: 15px;
    left: 10px;
  }
  h5 {
    color: $white-1;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
  }
  p {
    color: $white-1;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.25px;
  }
}
